::placeholder{
    opacity: 0.4 !important;
    color: var(--c, black);
}
/* ::placeholder {
    color: var(--c, red);
  } */
.detail{
    cursor: pointer;
}
.text{
    border: none;
    outline:none;
    width: 100%;
}
.edit{
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important ;
    margin-right: 0.6rem;
}
.delete{
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important ;
}
.bi-moon-stars-fill{
    cursor: pointer;
    margin: 1rem;
}
.bi-sun-fill{
    cursor: pointer;
    margin: 1rem;
}
.main{
    box-shadow: 7px 9px 19px 2px #808080b3;
}
/* body{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
} */

/* .dark{
    background-color: lightslategrey !important;
} */